# Intellij
.idea/
out/

# Gradle
.gradle/
build/

# Docker
.docker/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!gradle-wrapper.properties

# BuildTools.jar
.buildtools/